  node = ("ROUTER","HOST","LINK");
  edge = ("L3-ROUTER19-LINK16","L3-LINK16-HOST14","L2-LINK9-ROUTER19","L2-ROUTER19-LINK9","L2-LINK9-ROUTER12","L2-LINK9-HOST7","L2-HOST7-LINK9","L1-LINK3-ROUTER19","L3-LINK16-LINK16","L1-LINK3-ROUTER12","L1-ROUTER12-LINK3","L3-LINK16-ROUTER19","L3-HOST14-LINK16","0-LINK3-LINK3","L1-LINK3-ROUTER2","L1-ROUTER2-LINK3","L2-LINK9-LINK9","L1-LINK3-LINK3","L1-ROUTER19-LINK3","0-ROUTER2-LINK3");

  host = {
    type = "square";
    size = "power";
    values = ("power_used");
  };
  link = {
    type = "rhombus";
    size = "bandwidth";
    values = ("bandwidth_used");
  };
