  node = ("HOST","LINK");
  edge = ("0-LINK4-LINK4","0-HOST1-LINK4","0-LINK4-HOST1");

  host = {
    type = "square";
    size = "power";
    values = ("pcompute","preport","pfinalize","prequest");
  };
  link = {
    type = "rhombus";
    size = "bandwidth";
    values = ("bcompute","breport","bfinalize","brequest");
  };
